.CommandBlock {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 15px 10px 15px 0;
    margin-top: 10px;
    color: var(--vscode-foreground);
    white-space: pre-wrap;
    line-height: 1.5;
    display: flex;
    position: relative;
    padding-left: 25px;
    .userAvatar {
        height: 1rem;
        width: 1rem;
        background-image: var(--avatar-url);
        border-radius: 2px;
        background-size: 100% 100%;
        user-select: none;
        margin-left: -10px;
        margin-right: 10px;
    }
    @mixin colorize($color) {
        color: var($color);
        background-color: rgba(var($color + "RGB"), 0.01);
        border: 1px solid rgba(var($color + "RGB"), 0.1);
        .gripper {
            user-select: none;
            position: absolute;
            left: 3px;
            margin-right: 10px;
            opacity: 0.5;
            display: flex;
            width: 3px;
            cursor: grab;
            &:hover {
                opacity: 1;
            }
            &:active {
                cursor: grabbing;
            }
        }
        .copy,
        .stop {
            user-select: none;
            position: absolute;
            right: 10px;
            margin-right: 10px;
            opacity: 0.4;
            display: flex;
            width: 3px;
            cursor: pointer;
            &:active {
                opacity: 1;
            }
        }
        .stop {
            color: var(--vscode-terminal-ansiBrightRed);
            opacity: 1;
        }
    }
    &.error {
        @include colorize(--vscode-terminal-ansiBrightRed);
    }
    &.success {
        @include colorize(--vscode-terminal-ansiBrightGreen);
    }
    &.warn {
        @include colorize(--vscode-terminal-ansiBrightYellow);
    }
    &.normal {
        @include colorize(--vscode-terminal-ansiBrightWhite);
    }
    &.info {
        @include colorize(--vscode-terminal-ansiBrightBlue);
    }
    &.running > .gripper {
        animation: flash 300ms linear infinite;
    }
}

@keyframes flash {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
