.inputBox {
  --ask-padding-vertical: 12px;
  --ask-padding-bottom: 10px;
  --ask-padding-right: 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--vscode-chat-requestBorder);
  position: relative;
  padding: var(--ask-padding-vertical) var(--ask-padding-right) var(--ask-padding-bottom) 0;
  height: 18px;
  background: var(--vscode-inlineChatInput-background);
  box-sizing: content-box;
  max-width: 896px;
  margin: 0 auto 10px;
  border: 1px solid var(--vscode-chat-requestBorder);
  border-radius: 5px;
  box-sizing: border-box;
  &:focus-within {
    border: 1px solid var(--vscode-textLink-activeForeground);
  }
  .prompt {
    font: normal bold normal 16px/1 codicon !important;
    padding: 0 4px 0 10px;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    font-weight: 600;
    line-height: 17px;
    color: var(--vscode-icon-foreground);
    transform: translateY(1px);
  }
  .input {
    outline: none;
    color: var(--vscode-foreground);
    border: none;
    font-size: 1rem;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }
  }
  .placeholder {
    position: absolute;
    display: none;
    white-space: pre-wrap;
    top: var(--ask-padding-vertical);
    left: 33px;
    color: var(--vscode-input-placeholderForeground);
    opacity: 0.75;
    pointer-events: none;
    user-select: none;
    z-index: 10;
    font-size: 1rem;
  }
}
