.ChatMessage {
    &.assistant {
        background-color: var(--vscode-chat-requestBackground);
        color: var(--vscode-interactive-input-foreground);
    }
    color: var(--vscode-interactive-session-foreground);
    border-top: 1px solid var(--vscode-chat-requestBorder);
}
