.ChatMessage {
  max-width: 896px;
  box-sizing: border-box;
  &.user {
    background-color: var(--vscode-chat-requestBackground);
    color: var(--vscode-interactive-input-foreground);
    border-radius: 5px;
    border: 1px solid var(--vscode-input-border, transparent);
    @media (max-width: 896px) {
      border-radius: 0;
    }
  }
  &.assistant {
    .messageContent {
      white-space: break-spaces;
      border-radius: 5px;
      code {
        margin-left: 5px;
        margin-right: 5px;
      }
      ol,
      ul {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        box-sizing: border-box;
        li {
          vertical-align: middle;
          list-style-type: disc;
          margin-right: 1em;
          text-align: left;
          white-space: nowrap;
          padding-left: 5px;
          p {
            line-height: 2;
            white-space: pre-wrap;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      ol li {
        list-style-type: decimal;
      }
      ul li {
        list-style-type: disc;
      }
    }
  }
  &:first-child {
    margin-top: 10px;
  }
  &:nth-last-child(2) {
    margin-bottom: 10px;
  }
  color: var(--vscode-interactive-session-foreground);
  max-width: 896px;
  margin: 0 auto;
  .userAvatar {
    height: 24px;
    width: 24px;
    background-image: var(--avatar-url);
    border-radius: 15%;
    background-size: 100% 100%;
    user-select: none;
    margin-right: 10px;
    opacity: 0.85;
  }
  .messageContent {
    color: var(--vscode-foreground);
  }
}
